.tablepress-id-5 .column-1 {
	width: 20%;
}

.tablepress-id-5 .column-2 {
	width: 20%;
}

.tablepress-id-5 .column-3 {
	width: 20%;
}

.tablepress-id-5 .column-4 {
	width: 20%;
}

.tablepress-id-5 .column-5 {
	width: 20%;
}

.tablepress-id-4 .column-1 {
	width: 20%;
}

.tablepress-id-4 .column-2 {
	width: 20%;
}

.tablepress-id-4 .column-3 {
	width: 20%;
}

.tablepress-id-4 .column-4 {
	width: 20%;
}

.tablepress-id-4 .column-5 {
	width: 20%;
}

.tablepress-id-6 .column-1 {
	width: 25%;
}

.tablepress-id-6 .column-2 {
	width: 25%;
}

.tablepress-id-6 .column-3 {
	width: 25%;
}

.tablepress-id-6 .column-4 {
	width: 25%;
}

.tablepress-id-7 .column-1 {
	width: 25%;
}

.tablepress-id-7 .column-2 {
	width: 25%;
}

.tablepress-id-7 .column-3 {
	width: 25%;
}

.tablepress-id-7 .column-4 {
	width: 25%;
}

.tablepress-id-4 .row-2 td {
	background-color: #ff2921;
	color: #ffffff;
}

.tablepress-id-4 .row-3 td {
	background-color: #ff2921;
	color: #ffffff;
}

.tablepress-id-4 .row-4 td {
	background-color: #ff2921;
	color: #ffffff;
}

.tablepress-id-4 .row-5 td {
	background-color: #ff2921;
	color: #ffffff;
}

.tablepress-id-4 .row-6 td {
	background-color: #ff2921;
	color: #ffffff;
}

.tablepress-id-4 .row-7 td {
	background-color: #ff2921;
	color: #ffffff;
}

.tablepress-id-4 .row-8 td {
	background-color: #ff2921;
	color: #ffffff;
}

.tablepress-id-4 .row-9 td {
	background-color: #ff2921;
	color: #ffffff;
}

.tablepress-id-4 .row-10 td {
	background-color: #ff2921;
	color: #ffffff;
}

.tablepress-id-4 .row-11 td {
	background-color: #ff2921;
	color: #ffffff;
}

.tablepress-id-4 .row-12 td {
	background-color: #ff2921;
	color: #ffffff;
}

.tablepress-id-4 .row-13 td {
	background-color: #ff2921;
	color: #ffffff;
}

.tablepress-id-4 .row-14 td {
	background-color: #ff2921;
	color: #ffffff;
}

.tablepress-id-4 .row-15 td {
	background-color: #ff2921;
	color: #ffffff;
}

.tablepress-id-4 .row-16 td {
	background-color: #2188ff;
	color: #ffffff;
}

.tablepress-id-5 .row-2 td {
	background-color: #ff2921;
	color: #ffffff;
}

.tablepress-id-5 .row-3 td {
	background-color: #ff2921;
	color: #ffffff;
}

.tablepress-id-5 .row-4 td {
	background-color: #ff2921;
	color: #ffffff;
}

.tablepress-id-5 .row-5 td {
	background-color: #ff2921;
	color: #ffffff;
}

.tablepress-id-5 .row-6 td {
	background-color: #ff2921;
	color: #ffffff;
}

.tablepress-id-5 .row-7 td {
	background-color: #ff2921;
	color: #ffffff;
}

.tablepress-id-5 .row-8 td {
	background-color: #ff2921;
	color: #ffffff;
}

.tablepress-id-5 .row-9 td {
	background-color: #ff2921;
	color: #ffffff;
}

.tablepress-id-5 .row-10 td {
	background-color: #ff2921;
	color: #ffffff;
}

.tablepress-id-5 .row-11 td {
	background-color: #ff2921;
	color: #ffffff;
}

.tablepress-id-5 .row-12 td {
	background-color: #ff2921;
	color: #ffffff;
}

.tablepress-id-5 .row-13 td {
	background-color: #ff2921;
	color: #ffffff;
}

.tablepress-id-5 .row-14 td {
	background-color: #ff2921;
	color: #ffffff;
}

.tablepress-id-5 .row-15 td {
	background-color: #ff2921;
	color: #ffffff;
}

.tablepress-id-5 .row-16 td {
	background-color: #2188ff;
	color: #ffffff;
}

.tablepress-id-6 .row-2 td {
	background-color: #ff2921;
	color: #ffffff;
}

.tablepress-id-6 .row-3 td {
	background-color: #ff2921;
	color: #ffffff;
}

.tablepress-id-6 .row-4 td {
	background-color: #ff2921;
	color: #ffffff;
}

.tablepress-id-6 .row-5 td {
	background-color: #ff2921;
	color: #ffffff;
}

.tablepress-id-6 .row-6 td {
	background-color: #ff2921;
	color: #ffffff;
}

.tablepress-id-6 .row-7 td {
	background-color: #ff2921;
	color: #ffffff;
}

.tablepress-id-6 .row-8 td {
	background-color: #ff2921;
	color: #ffffff;
}

.tablepress-id-6 .row-9 td {
	background-color: #ff2921;
	color: #ffffff;
}

.tablepress-id-6 .row-10 td {
	background-color: #ff2921;
	color: #ffffff;
}

.tablepress-id-6 .row-11 td {
	background-color: #ff2921;
	color: #ffffff;
}

.tablepress-id-6 .row-12 td {
	background-color: #ff2921;
	color: #ffffff;
}

.tablepress-id-6 .row-13 td {
	background-color: #ff2921;
	color: #ffffff;
}

.tablepress-id-6 .row-14 td {
	background-color: #ff2921;
	color: #ffffff;
}

.tablepress-id-6 .row-15 td {
	background-color: #ff2921;
	color: #ffffff;
}

.tablepress-id-6 .row-16 td {
	background-color: #2188ff;
	color: #ffffff;
}

.tablepress-id-7 .row-2 td {
	background-color: #ff2921;
	color: #ffffff;
}

.tablepress-id-7 .row-3 td {
	background-color: #ff2921;
	color: #ffffff;
}

.tablepress-id-7 .row-4 td {
	background-color: #ff2921;
	color: #ffffff;
}

.tablepress-id-7 .row-5 td {
	background-color: #ff2921;
	color: #ffffff;
}

.tablepress-id-7 .row-6 td {
	background-color: #ff2921;
	color: #ffffff;
}

.tablepress-id-7 .row-7 td {
	background-color: #ff2921;
	color: #ffffff;
}

.tablepress-id-7 .row-8 td {
	background-color: #ff2921;
	color: #ffffff;
}

.tablepress-id-7 .row-9 td {
	background-color: #ff2921;
	color: #ffffff;
}

.tablepress-id-7 .row-10 td {
	background-color: #ff2921;
	color: #ffffff;
}

.tablepress-id-7 .row-11 td {
	background-color: #ff2921;
	color: #ffffff;
}

.tablepress-id-7 .row-12 td {
	background-color: #ff2921;
	color: #ffffff;
}

.tablepress-id-7 .row-13 td {
	background-color: #ff2921;
	color: #ffffff;
}

.tablepress-id-7 .row-14 td {
	background-color: #ff2921;
	color: #ffffff;
}

.tablepress-id-7 .row-15 td {
	background-color: #ff2921;
	color: #ffffff;
}

.tablepress-id-7 .row-16 td {
	background-color: #2188ff;
	color: #ffffff;
}